  <launch>

    <arg name = "base_path" default = "/home/lfreixas/iri-lab/labrobotica/algorithms/task2-welcoming_visitors_alg/"/>

    <node pkg="task2_client" 
	type="task2_client" 
	name="task2_client" 
	output="screen"
	ns="/tiago">
        

<!-- tts remappings -->
	<remap from="~/tts_module/tts" to="/tts"/>
    <param name="~/tts_module/action_max_retries" value="5"/>
    <param name="~/tts_module/enable_timeout" value="false"/>
    <param name="~/tts_module/feedback_watchdog_time_s" value="20"/>
    <param name="~/tts_module/rate_hz" value="10"/>
    <param name="~/tts_module/timeout_s" value="10"/>
    <param name="~/tts_module/enabled" value="true"/>


<!-- navigation remappings -->
     <remap from="~/nav_module/move_base"
             to="/move_base"/>
    <remap from="~/nav_module/move_poi"
             to="/poi_navigation_server/go_to_poi"/>
    <remap from="~/nav_module/move_waypoint"
             to="/pal_waypoint/navigate"/>
    <remap from="~/nav_module/odom"
             to="/mobile_base_controller/odom"/>
    <remap from="~/nav_module/clear_costmaps"
             to="/move_base/clear_costmaps"/>
    <remap from="~/nav_module/change_map"
             to="/pal_map_manager/change_map"/>
    <remap from="~/nav_module/set_op_mode"
             to="/pal_navigation_sm"/>
    <remap from="~/nav_module/move_base_reconf"
             to="/move_base/PalLocalPlanner/set_parameters"/>
      <param name="~/nav_module/poi_max_retries" value="5"/>
    <param name="~/nav_module/poi_enable_timeout" value="false"/>
    <param name="~/nav_module/poi_feedback_watchdog_time_s" value="50"/>
    <param name="~/nav_module/poi_timeout_s" value="10"/>
    <param name="~/nav_module/poi_enabled" value="true"/>

    </node>
  
  <include file="$(find usb_cam)/launch/usb_cam-test.launch"/>
  <node pkg="erl_person_classifier" type="erl_person_classifier" name="erl_person_classifier" output="screen">
        <remap from ="erl_person_classifier/front_door_camera" to="/usb_cam/image_raw"/>
        <param name="base_path" type="string" value="$(arg base_path)" />


 <!-- launch dynamic reconfigure -->
 <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" respawn="false" output="screen"/>

</launch>
